# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so

# Compiled Static libraries
*.lai
*.la
*.a

.DS_Store
Double-Linked-List-C++/.DS_Store
Double-Linked-List/.DS_Store
Double-Pointer/.DS_Store
Prezi-Interview/.DS_Store
Prezi-Interview/Binary-Tree-Width/.DS_Store
Prezi-Interview/Binary-Tree-Width/test_cases_52ea3213602fd/.DS_Store
Prezi-Interview/Square-Sum-Array/.DS_Store
Double-Linked-List-C++/.DS_Store
